<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Reservation System</title>
  <link href="dashboard.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!--<script type="text/javascript" src="dashboard.js"></script>-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  



</head>

<body>
<style>
  body {
  font-family: Jockey one;
  background-color: #2c3335;
  color: red;
}

.container-fluid {
  padding: 0px;
}

.myHeader {
  padding: 10px;
  background-color: #1d2021;
  color: #0ab5d4;
  padding-top: 25px;
}

h1 {
  font-size: 50px;
}

.flightList {
  background-color: #474d4f;
  padding: 20px;
  border-radius: 12px;
}

h3 {
  padding: 15px;
  color: #eef1f2;
  padding-bottom: 25px;
  font-size: 35px;
}

.flightHeader {
  background: #555e5f;
  padding: 5px;
  border-radius: 12px;
  color: #0ab5d4;
}
.flightsMain {
  padding-top: 25px;
  color: white;
}

.flight {
  padding: 5px;
  margin: 10px;
  border-color: #98a0a2;
}

flight:hover: {
  opacity: 0.6;
}

.flight {
  transition: 0.5s;
  opacity: 1;
  border: 1px;
  border-style: solid;
  border-radius: 20px;
  border-color: #98a0a2;
}
.flight:hover {
  background-color: #202627;
  color: white;
  transform: scale(1.1);
  padding: 20px;
}

.inputs {
  background-color: #474d4f;
  padding: 20px;
  border-radius: 12px;
  color: #eef2f2;
  font-size: 20px;
  letter-spacing: 0.3px;
}

input {
  border-radius: 10px;
  border: 2px;
  margin: 2px;
}



.confirmation {
}

.flightcopy {
  transition: 0.5s;
  opacity: 1;
  border: 1px;
  border-style: solid;
  border-radius: 20px;
  border-color: #98a0a2;
  padding: 15px;
}
.flightcopy:hover {
  background-color: #202627;
  color: white;
  transform: scale(1.1);
  padding: 20px;
}

.inputs {
  margin-top: 30px;
}

</style>



  <!-- BANNIERE -->
  <div class="maincontent overlay container-fluid">
    <div class="myHeader">
      <h1 class="text-center">[HC] Airline Ticket Reservation System</h1>
  </div>
    <br />
    <br />

    <div class="flightList container">
      <h3 class=" choosehead text-center">Choose one of the following flights:</h3>
      <div class="row flightHeader">
        <div class="col-sm-2">
          <h4 class="text-center">Serial No</h4>
        </div>

        <div class="col-sm">
          <h4 class="text-center">Date</h4>
        </div>

        <div class="col-sm">
          <h4 class="text-center">Nb places</h4>
        </div>

        <div class="col-sm">
          <h4 class="text-center">Départ</h4>
        </div>

        <div class="col-sm">
          <h4 class="text-center">Arrivée</h4>
        </div>

        <div class="col-sm">
          <h4 class="text-center">Status</h4>
        </div>

        <div class="col-sm">
          <h4 class="text-center">Prix(€)</h4>
        </div>

        <div class="col-sm">
          <h4 class="text-center">Reserver</h4>
        </div>
      </div>

<!-- FIN BANNIERE !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->

<!-- DEBUT AFFICHAGE DES DESTINATION  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!-->
      
      <div class="flightsMain">
        <div class="allFlights" th:each="vol : ${vols}">

          <div class="row flight 4563" id="4563">
            <!-- VolId -->
            <div class="col-sm">
              <h5 class="text-center srno flightNo1" th:text="${vol.volId}"></h5>
            </div>
            <!-- Date -->
            <div class="col-sm">
              <h5 class="text-center flno flightNo1" th:text="${vol.date}"></h5>
            </div>
            <!-- Nb Places -->
            <div class="col-sm">
              <h5 class="text-center flnbp flightNo1" th:text="${vol.nb_place_libre}"></h5>
            </div>
            <!-- Depart -->
            <div class="col-sm">
              <h5 class="text-center flsrc flightNo1" th:text="${vol.aeroportId_depart}"></h5>
            </div>
            <!-- Arrivée -->
            <div class="col-sm">
              <h5 class="text-center fldst flightNo1" th:text="${vol.aeroportId_arrive}"></h5>
            </div>
            <!-- Status -->
            <div class="col-sm">
              <h5 class="text-center flstat flightNo1" th:text="${vol.status}"></h5>
            </div>
            <!-- Prix -->
            <div class="col-sm">
              <h5 class="text-center flprc flightNo1" th:text="${vol.prix}"></h5>
            </div>
            <!-- Bouton reservation -->
            <div class="col-sm">
              <button th:onclick="'javascript:reservation('+${vol.volId}+')'">Reserver</button>
            </div>
          </div>


        </div>

        </div>

        <!-- FIN AFFICHAGE DES DESTINATION 

        <div id="returnError4"></div>-->


      
<!--
        <div class="flight morefl">
          <h5 class="text-center">Click to choose another flight</h5>
        </div>

        <div id="moreflights" class="flightcopy">
          <form id="moreFlight">
            <h4 class="text-center ">Find another flight</h5>
              <div class="row">
                <div class="col-sm-6">
                  <h5 class="text-center">From City:</h5>
                </div>
                <div class="col-sm-6">
                  <input id="fromCity" class="text-center" type="text" name="fCity" placeholder="eg: New York" required>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <h5 class="text-center">To City:</h5>
                </div>
                <div class="col-sm-6 text-left">
                  <input id="toCity" class="text-center" type="text" name="tCity" placeholder="eg: London" required>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-6">
                  <h5 class="text-center">Preferred Flight:</h5>
                </div>
                <div class="col-sm-6 text-left">
                  <input id="enteredName" class="text-center" type="text" name="entFname" placeholder="eg: American Airlines" required>
                </div>
              </div>

              <div class="row" style="margin-top:30px;">
                <div class="col-sm-4">
                  <h5 class="text-center">This a</h5>
                </div>
                <div class="col-sm-4">
                  <label class="custom-control custom-radio">
                    <input checked="checked" id="radio1" name="myRadio" value="int" type="radio" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">International flight</span>
                  </label>
                </div>
                <div class="col-sm-4">
                  <label class="custom-control custom-radio">
                    <input id="radio2" value="dom" name="myRadio" type="radio" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Domestic Flight</span>
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <br />
                  <div class="text-center">
                    <button type="button" id="searchFlight" class="text-center btn btn-info text-center ">Search for a flight</button>

          </form>
          <div id="returnError3"></div>
        </div>
      </div>
    </div>
  -->

  </div>
  </div>
  <br />
  <br />
  </div>
  </div>

  <div class="container inputs my-3">
   
   <!-- <form id="enterFlightNo">
      <div class="row">
        <div class="col-sm-4">
          <p class="text-left">Enter flight number you want to travel in: <br /><span class="text-center text-info">Enter "list" to see the complete list again.</span></p>
        </div>
        <div class="col-sm-4">
          <input id="fNo" class="text-center" type="text" name="fnum" placeholder="Flight Number eg:4563"><br>
        </div>
      -->

        <div class="col-sm-4">
          <button type="button" id="flightNoBtn" class="btn btn-primary text-right">Submit</button>
        </div>
      </div>
<!--
    </form>
  

    <div id="returnError"></div>
    <button type="button" id="reFlightNo" class="text-center btn-block btn btn-info text-right">Click here to Re-Enter Flight Number</button>
    <br />
    <button type="button" id="rePassNo" class="text-center btn-block btn btn-info text-right">Click here to Re-Enter Number of Passengers</button>
    <br />
    <form id="enterPassengers">
      <div class="row">
        <div class="col-sm-4">
          <p class="text-left">Enter number of passengers traveling:</p>
        </div>
        <div class="col-sm-4">
          <input class="text-center" type="text" id="passNo" name="pnum" placeholder="No of passenger eg:2"><br>
        </div>
        <div class="col-sm-4">
          <button type="button" id="passengerBtn" class="btn btn-primary text-right">Submit</button>
        </div>
      </div>
    </form>
    <div id="returnError2"></div>
    <br />

    <form id="pNames">
      <div id="passengerNames"></div>
    </form>

    <form class="text-center" id="extraStuff">
      <div class="form-check">
        <label class="form-check-label">
          <input id="Bclass" type="checkbox" class="form-check-input">
          Travel in Bussiness class (+ ₹5000 per passenger)
        </label>
      </div>


     

      <div class="yourTotal text-center text-info"></div>
      <button type="button" id="confirm" class="text-center btn-block btn btn-info text-right">Confirm Booking</button>
    </form>
  -->
  </div>
  </div>

<script>
  function reservation(id) {

  $.ajax({
     type: 'POST',
     url: "/reserver,
     contentType: 'text/plain',
     success:function(response) {
         console.log("good");
     },
     error : function(response){
         console.log("wrong");
     }
 });

  }


</script>
  
</body>
</html>